.header__lang-link {
  color: #FFFFFF;
  text-decoration: none;
  opacity: 1;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}



.header__lang-link:not(:first-child) {
  padding-left: 18px;
}

.header__lang-link:hover {
 opacity: .8;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 20px;
  }
}
