.photo-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 1em;
  margin: 92px 48px 0 48px;

}

@media screen and (max-width: 1023px) {
  .photo-grid  {
    margin: 88px 24px 0 24px;

  }
}

@media screen and (max-width: 767px) {
  .photo-grid  {
    margin: 64px 16px 0 16px;

  }
}
