.places {
  margin: 92px 48px 0 48px;
  min-width: 320px;
}

@media screen and (max-width: 1023px) {
  .places {
    margin: 88px 24px 0 24px;
  }
}

@media screen and (max-width: 767px) {
  .places {
    margin: 0;
    margin-top: 64px;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
}
