.cover__subtitle {
  color: white;
  text-decoration: none;
  display: block;
  margin: auto;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  max-width: 360px;
  text-align: center;
  padding-top: 32px;
}


@media screen and (max-width: 767px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding-top: 16px;
  }
}
