.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 28px 48px 0;
}


@media screen and (max-width: 1023px) {
  .header {
    margin: 28px 24px 0;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin: 16px 16px 0;
  }
}
