.footer__link {
  color: #FFFFFF;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

}

.footer__link:not(:first-child) {
 margin-left: 18px;
}

@media screen and (max-width: 767px) {

  .footer__link {
    display: block;
    font-size: 24px;
    line-height: 24px;

  }

  .footer__link:not(:first-child) {
    margin-left: 0px;
    margin-top: 32px;
   }

}
