.place__paragraph {
  margin: 0;
  max-width: 484px;
  font-size: 18px;
  line-height: 29px;
}

.place__paragraph:not(:first-child) {
  padding-top: 27px;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph:first-child {
    margin-top: 32px;
  }

  .place__paragraph:not(:first-child) {
    padding-top: 25px;
  }

  .place__paragraph {
    max-width: 288px;
    align-self: center;
    margin-left: 16px;
    line-height: 16px;
  }
}
