.lead__subtitle {
  margin: auto;
  width: 640px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  margin-top: 32px;
}

@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    width: 288px;
    margin-top: 16px;
  }
}
