.cover__title {
  margin: auto;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  text-align: center;
  color: white;
  text-decoration: none;
  display: block;
}


@media screen and (max-width: 767px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
  }
}
