.footer {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-top: 92px;
}

@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    margin-top: 64px;
  }
}
