.place__url-heading {
  margin: 0;
  margin-bottom: 12px;
  font-size: 12px;
  line-height: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 2px;
  color: #AAAAAA;
}

@media screen and (max-width: 767px) {
  .place__website_url-heading {
    margin-top: 32px;
    font-size: 12px;
    line-height: 12px;
  }
}
